html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-bottom: 300px;
}

@font-face {
    font-family: 'DINPro-Light';
    src: url('../fonts/DINPro-Light\ tr.ttf');
}

@font-face{
    font-family: 'Staatliches-Regular';
    src: url('../fonts/Staatliches-Regular.ttf');
}

* {
    font-family: 'DINPro-Light';
}

.main {
    height: inherit;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.header > section {
    flex: 1 0 35%;
    margin: 5px;
    height: 100px;
}

.logo {
    position: fixed;
}

.logo-image {
    width: 10vh;
    height: 10vh;
    padding: 10vh 0 0 10vh;
}

.intro p {
    font-size: 3vh;
    text-align: right;
    padding: 10vh 10vh 0 0;
}

a {
    color: black;
    text-decoration: none;
}

.wrap {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    z-index: 15;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.top-row {
    max-height: 500px;
}

.about-me {
    z-index: 1;
    width: 70%;
    transform: translateY(-25vh);
}

.photo {
    z-index: 0;
    text-align: right;
}

.photo-me {
    opacity: 0.5;
    height: 50vh;
    width: 50vh;
}

.down-row {
    display: flex;
    justify-content: space-between;
}

.skills {
    width: 35%;
}

.timeline-list {
    list-style-type: square;
}

.projects-title {
    font-size: 2vh;
    margin: 0 1vh;
}

.projects-list {
    font-size: 1.5vh;
    margin-top: 1vh;
    list-style-type: none;
    a {
        font-family: "Staatliches-Regular";
        display: inline;
        font-size: 7vh;
    }
}

.show-details{
    position: relative;
}



.nav {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    position: fixed;
    z-index: 11;
    overflow: hidden;
    bottom: 0px;
    width: 100%;
    font-size: 2vh;
}

.nav ul {
    list-style-type: none;
}

.nav__socials {
    margin-left: 10vh;
    padding-left: 0vh;
}

.nav__menu {
    margin-right: 10vh;
    text-align: right;
}

nav a {
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #69e9f5;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
nav a:hover:after {
    width: 100%;
    left: 0;
}

.about {
    color: #69e9f5;
}

.bullet {
    display: inline;
    color: #69e9f5;
}

@media (max-width: 1025px) {
    .nav{
        z-index:10000;
    }
    .projects-list a {
        font-size: 2.9rem;
    }
    .projects-title {
        margin-bottom: 2vh;
    }

    .projects-list li {
        margin-bottom: 2vh;
    }

    .show-details {
        line-height: 0.5vh;
        margin-bottom: 100px;

        &:after{
            content: '\a' attr(data-tech);
            font-size: 1vh;
            white-space: pre;
        }
    }


}

@media (min-width: 1026px) {
    .show-details::before{
        content: attr(data-tech);
        position: absolute;
        top: 32%;
        left:0;
        font-size: 1.8vh;
        padding: .2vh;
        opacity:0;
        z-index: 20;
    }
    .show-details::after{
        content: '';
        height: 1.4rem;
        position: absolute;
        top: 32%;
        left:0;
        font-size: 1.8vh;
        padding: .2vh;
        background-color: #69e9f5;
        width:0%;
        opacity:0;
        transition:width .5s, font .5s,opacity .5s;
        font-size:0;

    }

    .show-details:hover::before {
        opacity:1;
        transition:opacity .5s;
        
    }

    .show-details:hover::after {
        width: 100%;
        font-size:1.8vh;
        opacity:1;
        transition:width .5s, font .5s,opacity .5s;
        
    }


}

@media (max-width: 1300px) {
    .logo-image {
        padding: 1vh 0 0 1vh;
    }

    .photo-me {
        height: 25vh;
        width: 25vh;
    }

    .nav {
        background-color: white;
    }

    .nav__socials {
        margin-left: 1vh;
    }

    .nav__menu {
        margin-right: 1vh;
    }
    .top-row{
        height: 40%;
    }
}

@media (max-width: 768px) {
    body {
        min-height: 150vh;
    }
    .content {
        width: 80%;
    }

    .intro {
        padding: 5vh 0;
    }

    .top-row {
        display: flex;
        flex-direction: column;
    }

    .about-me {
        width: 100%;
        transform: translateY(0vh);
        padding: 2vh;
    }

    .photo {
        display: flex;
        justify-content: center;
    }

    .down-row {
        flex-direction: column;
    }

    .skills {
        width: 100%;
    }
    .projects-list{
        a{
            font-size: 2rem;
        }
    }
}

@media (max-width: 500px) {
    .down-row {
        margin-top: 2rem;
    }    
}
@media (max-width: 400px) {
    body {
        min-height: 220vh;
    }
    .down-row {
        padding-top: 3rem;
    }
    .projects-list a {
        font-size: 1.3rem;
    }
    
}
